{% extends 'admin-layout.html' %} {% block body %}
<main>
  <h1 class="title">Buscar Producto</h1>
  <form action="" class="search-box">
    <input
      type="text"
      id="username"
      placeholder="Ingrese nombre del producto"
    />
    <button><i class="fa fa-search"></i></button>
  </form>
  <section class="products-gallery">
    <div class="product-card">
      <img
        class="product-card-image"
        src="{{ url_for('static', filename='images/coffee-cup.jpg') }}"
        alt="Taza de café"
      />
      <h2 class="product-card-price">$ 5.000</h2>
    </div>
    <div class="product-card">
      <img
        class="product-card-image"
        src="{{ url_for('static', filename='images/juice.jpg') }}"
        alt="Jugo"
      />
      <h2 class="product-card-price">$ 5.000</h2>
    </div>
    <div class="product-card">
      <img
        class="product-card-image"
        src="{{ url_for('static', filename='images/coffee-cup.jpg') }}"
        alt="Taza de café"
      />
      <h2 class="product-card-price">$ 5.000</h2>
    </div>
    <div class="product-card">
      <img
        class="product-card-image"
        src="{{ url_for('static', filename='images/juice.jpg') }}"
        alt="Jugo"
      />
      <h2 class="product-card-price">$ 5.000</h2>
    </div>
    <div class="product-card">
      <img
        class="product-card-image"
        src="{{ url_for('static', filename='images/coffee-cup.jpg') }}"
        alt="Taza de café"
      />
      <h2 class="product-card-price">$ 5.000</h2>
    </div>
    <div class="product-card">
      <img
        class="product-card-image"
        src="{{ url_for('static', filename='images/juice.jpg') }}"
        alt="Jugo"
      />
      <h2 class="product-card-price">$ 5.000</h2>
    </div>
  </section>
</main>
{% endblock body %}
