{% extends 'admin-layout.html' %} {% block body %}
<main>
  <h1 class="title">Modificar Producto</h1>
  {% if product == "" %}
  <div>
    <form action="/admin/products/edit" method="post">
      <label for="userID">Nombre de Producto</label>
      <br />
      <select name="product_name" id="product_name">
        {% if products != "" %} {% for product in products %}
        <option value="{{product[1]}}">{{product[1]}}</option>
        {% endfor %} {% endif %}
      </select>
      <br />
      <button type="submit">Buscar Producto</button>
    </form>
  </div>
  {% endif %}

  {% if product != "" %}
    <form action="/admin/products/edit/{{product[0]}}" method="POST" enctype=multipart/form-data>
    <div>
      <label for="name">Nombre del Producto</label>
      <input
        type="text"
        id="name"
        name="product_name"
        value="{{product[1]}}"
        placeholder="Ingrese el nombre del producto"
      />
    </div>
    <div>
      <label for="price">Precio</label>
      <input
        type="number"
        id="price"
        placeholder="5.000"
        value="{{product[2]}}"
        name="product_price"
      />
    </div>
    <div>
      <label for="image">Imagen</label>
      <input type="file" id="image" name="file" accept=".jpg, .jpeg, .png" />
    </div>
    <div>
      <label for="enabled">Habilitado:</label>
      {% if product[4] == 'True' %}
      <input type="checkbox" id="enabled" value="True" name="enabled" checked />
      {% else %}
      <input type="checkbox" id="enabled" value="True" name="enabled" />
      {% endif %}
    </div>  
    <button type="submit">Actualizar Producto</button>
  </form>
  {% endif %}
</main>
{% endblock body %}
