{% extends 'admin-layout.html' %} {% block body %}
<main>
  <h1 class="title">Buscar Producto</h1>
  <form action="/admin/products/search" class="search-box" method="POST">
    <input
      type="text"
      id="product_name"
      name="product_name"
      placeholder="Ingrese nombre del producto"
    />
    <button><i class="fa fa-search"></i></button>
  </form>
  <section class="products-gallery">
    {% if products != '' %} {% for product in products %}
    <div class="product-card">
      <h2>{{product[1]}}</h2>
      <img
        class="product-card-image"
        src="{{ url_for('static', filename='images/'+product[3]) }}"
        alt="{{product[3]}}"
      />
      <h2 class="product-card-price">{{"$ {:,.0f}".format(product[2])}}</h2>
    </div>
    {% endfor %} {% endif %}
  </section>
</main>
{% endblock body %}
