{% extends 'cashier-layout.html' %} {% block body %}
<main>
  <form action="" class="search-box">
    <input
      type="text"
      id="username"
      placeholder="Ingrese nombre del producto"
    />
    <button><i class="fa fa-search"></i></button>
  </form>
  <section class="main-container">
    <section class="products-gallery">
      <div class="product-card">
        <img
          class="product-card-image"
          src="{{ url_for('static', filename='images/coffee-cup.jpg') }}"
          alt="Taza de café"
        />
        <h2 class="product-card-price">$ 5.000</h2>
      </div>
      <div class="product-card">
        <img
          class="product-card-image"
          src="{{ url_for('static', filename='images/juice.jpg') }}"
          alt="Jugo"
        />
        <h2 class="product-card-price">$ 5.000</h2>
      </div>
      <div class="product-card">
        <img
          class="product-card-image"
          src="{{ url_for('static', filename='images/coffee-cup.jpg') }}"
          alt="Taza de café"
        />
        <h2 class="product-card-price">$ 5.000</h2>
      </div>
      <div class="product-card">
        <img
          class="product-card-image"
          src="{{ url_for('static', filename='images/juice.jpg') }}"
          alt="Jugo"
        />
        <h2 class="product-card-price">$ 5.000</h2>
      </div>
      <div class="product-card">
        <img
          class="product-card-image"
          src="{{ url_for('static', filename='images/coffee-cup.jpg') }}"
          alt="Taza de café"
        />
        <h2 class="product-card-price">$ 5.000</h2>
      </div>
      <div class="product-card">
        <img
          class="product-card-image"
          src="{{ url_for('static', filename='images/juice.jpg') }}"
          alt="Jugo"
        />
        <h2 class="product-card-price">$ 5.000</h2>
      </div>
    </section>
    <section class="cart-resume">
      <h3 class="title">Resumen de la Orden</h3>
      <div class="cart-items-container">
        <div class="cart-item">
          <div class="cart-item-resume">
            <h4>Taza de Café</h4>
            <h4>$ 8.000</h4>
          </div>
          <div class="cart-item-details">
            <span>x2</span>
            <span>$ 4.000</span>
          </div>
        </div>
        <div class="cart-item">
          <div class="cart-item-resume">
            <h4>Jugo de Fresa</h4>
            <h4>$ 8.000</h4>
          </div>
          <div class="cart-item-details">
            <span>x2</span>
            <span>$ 4.000</span>
          </div>
        </div>
        <div class="cart-item">
          <div class="cart-item-resume">
            <h4>Malteada</h4>
            <h4>$ 8.000</h4>
          </div>
          <div class="cart-item-details">
            <span>x2</span>
            <span>$ 4.000</span>
          </div>
        </div>
      </div>
      <div class="cart-total-container">
        <h3>Total</h3>
        <h3>$ 8.000</h3>
      </div>
      <button>Finalizar Venta</button>
    </section>
  </section>
</main>
{% endblock body %}
