{% extends 'reset-password-template.html' %} {% block main %}
<div class="reset-password-form-container">
  <form action="/reset" method="POST">
    <label for="email" class="email-reset-label"> Correo Electrónico </label>
    <input
      id="email"
      name="email"
      type="email"
      placeholder="username@example.com"
    />
    <button type="submit">Recuperar Contraseña</button>
  </form>
</div>

{% if RESET_OK == "true" %}
<div id="reset-password-modal">
  <div id="reset-password-modal-content">
    <i class="fa fa-times" aria-hidden="true"></i>
    <h4>Contraseña Recuperada con éxito.</h4>
    <h3>Verifique su correo electrónico.</h3>
    <a href="/"><button>Cerrar</button></a>
  </div>
</div>
{% endif %} {% endblock main %} {% block script %}
<script>
  message = "{{Message}}";
  if (message != "") alert(message);
</script>
{% endblock script %}
