{% extends 'reset-password-template.html' %} {% block main %}
<div class="reset-password-form-container">
  <form action="/reset/confirmation" method="POST">
    <label for="password" class="password-reset-label">
      Nueva contraseña
    </label>
    <input type="password" name="password" id="password" />
    <input type="hidden" name="recoveryKey" value="{{recoveryKey}}" />
    <button type="submit">Actualizar Contraseña</button>
  </form>
</div>
{% endblock main %} {% block script %}
<script>
  message = "{{Message}}";
  if (message != "") alert(message);
</script>
{% endblock script %}
